<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418034075922-t9jsca3tmj3pv1f6oluchjbqqsl36euu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418034075922-t9jsca3tmj3pv1f6oluchjbqqsl36euu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418034075922-rechsfb9v9qsj3t8k6kr3q2kpe8iafpl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1JvZput1CrJMty6EFEAV1VwbHzcM5ZHU</string>
	<key>GCM_SENDER_ID</key>
	<string>418034075922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwi.businessapp</string>
	<key>PROJECT_ID</key>
	<string>bwi-business-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bwi-business-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418034075922:ios:19acf6e6156c9cb5</string>
	<key>DATABASE_URL</key>
	<string>https://bwi-business-app.firebaseio.com</string>
</dict>
</plist>